@model ITBoostUp.BussinessLayer.Model.Company
<h1>Company</h1>

<form asp-controller="Company" asp-action="Create" method="post">
    <input type="text" asp-for="Name">
    <input type="text" asp-for="Address">
    <button type="submit">Submit</button>
</form>